/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html{
  scroll-behavior: smooth;
}

#introduction{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); /*TODO: Add a background url url("img/nombre-imagen.jpg")*/
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#introduction .content header{
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#introduction .content header .content-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20 px;
}

#introduction .content header .content-header h1 {
  text-align: center;
  color: #ff5080;
}

#introduction .content header .content-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#introduction .content header .content-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: .5s;
}

#introduction .content header .content-header nav ul a:hover {
  color: #ff5080;
}

#introduction .content header .content-header .social-media a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: .5s;
}

#introduction .content header .content-header .social-media a:hover {
  color: #ff5080;
}

#introduction .content .presentation {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#introduction .content .presentation .welcome {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#introduction .content .presentation h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

#introduction .content .presentation h2 span {
  font-size: 25px;
  color: #ff5080;
}

#introduction .content .presentation .description {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#introduction .content .presentation a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
}

#introduction .content .presentation a:hover {
  background-color: #ff5080;
}

#icon-nav {
  color: #fff;
  display: none;
}

/*ABOUT ME SECTION*/

#about-me {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
}

#about-me .content-photo {
  max-width: 400px;
  margin-right: 80px;
}

#about-me .content-photo img{
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #f3f3f3;
}

#about-me .about-me {
  margin: 0 40px;
}

#about-me .about-me .section-title {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3ded3;
  text-decoration-thickness: 5px;
}

#about-me .about-me h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#about-me .about-me span {
  color: #ff5080;
}

#about-me .about-me h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#about-me .about-me p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}

#about-me .about-me a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #000;
  margin-top: 30px;
  transition: .5s;
}

#about-me .about-me a:hover {
  background-color: #ff5080;
  color: #fff;
}

/*SERVICES SECTION*/

#services {
  padding: 100px 15px;
  text-align: center;
  background-color: #f3f3f3;
}

#services .section-title {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3ded3;
  text-decoration-thickness: 5px;
}

#services .row {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
}

#services .row .service {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: .5s;
}

#services .row .service:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#services .row .service h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

#services .row .service .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 25px;
}

#services .row .service hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}

#services .row .service ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#services .row .service p {
  font-size: 14px;
  line-height: 22px;
}