/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html{
  scroll-behavior: smooth;
}

#introduction{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/introImage.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#introduction .content header{
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#introduction .content header .content-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#introduction .content header .content-header h1 {
  text-align: center;
  color: #ff5080;
}

#introduction .content header .content-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#introduction .content header .content-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: .5s;
}

#introduction .content header .content-header nav ul a:hover {
  color: #ff5080;
}

#introduction .content header .content-header .selected {
  color: #ff5080;
}

#introduction .content header .content-header .social-media a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: .5s;
}

#introduction .content header .content-header .social-media a:hover {
  color: #ff5080;
}

#introduction .content .presentation {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#introduction .content .presentation .welcome {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#introduction .content .presentation h2 {
  font-size: 55px;
  text-align: center;
}

#introduction .content .presentation h2 span#name {
  font-size: 55px;
  color: #ff5080;
}

.typewriter { /*TODO: Review padding and responsive*/
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 23ch;
  text-align: center;

  animation: typing 2s steps(20), blink .5s infinite step-end alternate;
  overflow:hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#introduction .content .presentation .description {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#introduction .content .presentation a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
}

#introduction .content .presentation a:hover {
  background-color: #ff5080;
}

#icon-nav {
  color: #fff;
  display: none;
}

/*ABOUT ME SECTION*/

#about-me {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
}

#about-me .content-photo {
  max-width: 400px;
  margin-right: 80px;
}

#about-me .content-photo img{
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #f3f3f3;
}

#about-me .about-me {
  margin: 0 40px;
}

#about-me .about-me .section-title {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3ded3;
  text-decoration-thickness: 5px;
}

#about-me .about-me h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#about-me .about-me span {
  color: #ff5080;
}

#about-me .about-me h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#about-me .about-me p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}

#about-me .about-me a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #000;
  margin-top: 30px;
  transition: .5s;
}

#about-me .about-me a:hover {
  background-color: #ff5080;
  color: #fff;
}

/*SERVICES SECTION*/

#services {
  padding: 100px 15px;
  text-align: center;
  background-color: #f3f3f3;
}

#services .section-title {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3ded3;
  text-decoration-thickness: 5px;
}

#services .row {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
}

#services .row .service {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: .5s;
}

#services .row .service:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#services .row .service h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

#services .row .service .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 25px;
}

#services .row .service hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}

#services .row .service ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#services .row .service p {
  font-size: 14px;
  line-height: 22px;
}

/*SKILLS SECTION*/

.skills-container {
  background: linear-gradient(#eb5a5acc, rgba(33, 16, 16, .8)), url("img/skillsImage.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
}

.skills-container .skill {
  max-width: 600px;
  margin: 30px auto;
}

.skills-container .skill .info {
  display: flex;
  justify-content: space-between;
}

.skills-container .skill .list {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}

.skills-container .skill .bar {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0;
}

/*TODO: This style will  apply later with JS for the animation bar*/
.skills-container .skill .bar .bar-progress1 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progress1 2s forwards;
}

.skills-container .skill .bar .bar-progress2 {
  background-color: #fff;
  width: 80%;
  height: 6px;
  animation: progress2 2s forwards;
}

.skills-container .skill .bar .bar-progress3 {
  background-color: #fff;
  width: 80%;
  height: 6px;
  animation: progress3 2s forwards;
}

.skills-container .skill .bar .bar-progress4 {
  background-color: #fff;
  width: 80%;
  height: 6px;
  animation: progress4 2s forwards;
}

.skills-container .skill .bar .bar-progress5 {
  background-color: #fff;
  width: 70%;
  height: 6px;
  animation: progress5 2s forwards;
}

.skills-container .skill .bar .bar-progress6 {
  background-color: #fff;
  width: 70%;
  height: 6px;
  animation: progress6 2s forwards;
}

/*Making bar animations*/

@keyframes progress1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress2 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress3 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress4 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress5 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes progress6 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

/*PORTFOLIO SECTION*/

#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#portfolio .section-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3ded3;
  text-decoration-thickness: 5px;
}

#portfolio .row {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

#portfolio .row .project {
  max-width: 450px;
  border: 1px solid #000;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

#portfolio .row .project img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s;
}

#portfolio .row .project:hover img {
  filter: grayscale(0);
}

#portfolio .row .project .info {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  color: #ff5080;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portfolio .row .project:hover .info {
  opacity: 1;
  bottom: 0;
}

/*CONTACT SECTION*/

#contact {
  padding: 100px 15px;
}

#contact .section-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#contact .content-form {
  max-width: 1100px;
  margin: auto;
}

#contact .content-form .row {
  margin-bottom: 15px;
}

#contact .content-form .half {
  display: flex;
  justify-content: space-between;
}

#contact .content-form input,
#contact .content-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
}

#contact .content-form .half input{
  width: 48%;
}

#contact .content-form .full-input {
  width: 100%;
}

#contact .send-btn {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: .5s;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
}

#contact .send-btn:hover {
  background-color: #ff5080;
  color: #fff;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}

/*RESPONSIVE WEB DESIGN*/

@media screen and (max-width:800px) {
  .social-media {
    display: none;
  }
  nav {
    display: none;
  }
  nav.responsive {
    display: block;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }
  nav.responsive ul {
    display: block !important;
    text-align: center;
  }
  nav.responsive ul li {
    margin: 5px 0;
  }
  #icon-nav {
    display: block;
  }
  #introduction .content .presentation h2{
    font-size: 40px;
  }
  #about-me {
    padding: 50px 0;
    display: block;
  }
  #about-me .content-photo {
    max-width: 200px;
    margin: auto;
  }
  #about-me .content-photo img {
    padding: 8px;
  }
  #about-me .about-me .section-title {
    text-align: center;
  }
  #about-me .about-me h2 {
    font-size: 25px;
    text-align: center;
  }
  #services {
    padding: 50px 15px;
  }
  #services .row {
    display: block;
  }
  #services .row .service {
    margin: 10px auto;
  }
  .skills-container {
    padding: 50px 20px;
  }
  #portfolio {
    padding: 50px 0;
  }
  #portfolio .row {
    display: block;
  }
  #portfolio .row .project {
    margin: 10px auto;
  }
  #contact {
    padding: 50px 15px;
  }
  #contact .content-form .half {
    margin-bottom: 15px;
    display: block;
  }
  #contact .content-form .half input {
    width: 100%;
    margin-bottom: 15px;
  }
}